<meta charset="UTF-8">

<!--==================================================-->
<!----- Start Visapro----Footer---- Area ----->
<!--==================================================-->
<div class="footer-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="footer-content mb-30">
          <div class="footer-logo">
            <%= image_tag("logo2.png", alt: "about")%>
          </div>
          <div class="dreamit-footer-content">
            <p>Cursus porta, feugiat primis in ultrice ligula risus auctor tempus dolor feugiat, felis lacinia risus interdum</p>
          </div>
          <div class="dreamit-footer-social-address">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-content mb-30">
          <div class="footer-title">
            <h2>Immportant Links</h2>
          </div>
          <div class="footer-menu">
            <ul>
              <li><a href="#">Customers Services</a></li>
              <li><a href="#">IT Department</a></li>
              <li><a href="#">About Our Company</a></li>
              <li><a href="#">Business Growth</a></li>
              <li><a href="#">Make An Appointment</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-content mb-30">
          <div class="footer-title">
            <h2>Company Address</h2>
            <p>Cursus porta, feugiat primis in ultrice ligula risus.</p>
          </div>
          <div class="footer-adderss">
            <p><b>address:</b> <span>25/4, 4th Floor, Panthpath, Dhaka</span></p>
            <p><b>Telephone:</b> <span>+330 657 876 33</span></p>
            <p><b>Email:</b> <span>example@gmail.com</span></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-content mb-30">
          <div class="footer-title">
            <h2>Newsletter</h2>
            <p>Cursus porta, feugiat primis in ultrice ligula risus auctor tempus dolor feugiat, felis lacinia</p>
          </div>
          <form>
            <div class="subscribe-area">
              <input class="subscribe-mail-box" type="email"  placeholder="Enter Your Email...." required="">
              <button class="subscribe-button" type="submit">
                <i class="fab fa-telegram-plane"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row  align-items-center bd-top-footer pt-15">
      <div class="col-lg-6 col-md-6">
        <div class="copy-right-text">
          <p>Copyright © GeekHub 2022 Best Team.</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="footer-text-menu">
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Services</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- scrollup section -->
<div class="scroll-area">
  <div class="top-wrap">
    <div class="go-top-btn-wraper">
      <div class="go-top go-top-button">
        <i class="fas fa-arrow-up"></i>
        <i class="fas fa-arrow-up"></i>
      </div>
    </div>
  </div>
</div>