
<!--==================================================-->
<!----- start visapro Header Top Menu Area ----->
<!--==================================================-->
<div class="header-top-menu">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="header-top-address">
          <ul>
            <li><a href="#"><i class="far fa-envelope"></i> example@gmail.com</a></li>
            <li><a href="#"><i class="fas fa-map-marker-alt"></i> 24/5, 1st Floor, Kurigram</a></li>
            <li><a href="#"><i class="fas fa-phone"></i> + (1800) 456 7890</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="hrader-top-social">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
