<div class="container">
  <h1 class="mt-3 text-center">Editing Contact</h1>

  <%= render 'form', contact: @contact %>

  <div class="d-flex justify-content-center d-flex align-items-center">
    <%= link_to 'Show', @contact, class: "btn btn-secondary my-3 btn-lg" %> &nbsp;|&nbsp;
    <%= link_to 'Back', contacts_path, class: "btn btn-secondary my-3 btn-lg" %>
  </div>

</div>
