
<!--==================================================-->
<!----- start visapro breatcome Area ----->
<!--==================================================-->
<div class="breatcome-area d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breatcome-content text-center">
          <div class="breatcome-content-title">
            <h1>Blog 2Column</h1>
          </div>
          <div class="breatcome-content-text">
            <ul>
              <li><%= link_to 'Home', root_path, class: "nav-link active" %> <i class="fas fa-chevron-right"></i> <span>Blog 2Column</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--==================================================-->
<!----- start visapro----BLOG---- Area ----->
<!--==================================================-->

<% if @posts.empty? %>
    <div class="text-center">
      <h2>The posts list is empty at the moment...</h2>
    </div>
    <hr>
<% else %>


  <%# @posts.each do |post| %>
  <!--          <tr class="container text-center">-->
  <!--            <td><%#= post.name %></td>-->
  <!--            <td class="text-start"><%#= post.content %></td>-->
  <!--            <td><%#= image_tag(post.image, width: '200', class: "mx-auto d-block") %></td>-->

  <!--            <td>-->
  <!--              <div class="d-flex p-2 bd-highlight mb-3 align-items-center">-->
  <!--                <%#= link_to 'Show', post, class: "btn btn-success" %> |-->

  <!--                  <%#= link_to 'Edit', edit_post_path(post), class: "btn btn-secondary" %> |-->
  <%#= button_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure you want to delete the post?' }, class: "btn btn-danger" %>
  <%# end %>

<div class="blog-area style-four pt-65 pb-60">
  <div class="container">
    <div class="row pt-20">
      <div class="col-lg-8">
        <div class="row">
          <% @posts.each do |post| %>
          <div class="col-lg-6 col-md-6">

            <div class="dreamit-single-blog-box">
              <div class="dreamit-blog-thumb">
                <a href="#"><%= image_tag(post.image, width: '200', class: "mx-auto d-block") %></a>
                <div class="post-catgory">
                  <a href="#"><%= post.name %></a>
                  <a href="#">Working Visa</a>
                </div>
              </div>
              <div class="dreamit-meta-box">
                <a href="#">visapro</a>
                <h3>March 24, 2021</h3>
              </div>
              <div class="dreamit-blog-content">
                <div class="dreamit-blog-title">
                  <h2>
                   <%= link_to post.name, post %>
                  </h2>
                </div>
                <div class="dreamit-blog-text">
                  <p>Meh synth Schlitz,tempor duis single-origin coffee ea next level ethnic fingerstache.</p>
                </div>
              </div>
            </div>
          </div>
          <% end %>
         <% end %>

        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="pagiation">
              <div class="page-number pt-30">
                <ul>
                  <li><a class="active" href="blog-grid.html">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="sidebar-box">
          <div class="sidebar-search">
            <input type="text" name="search" placeholder="Search">
            <button type="text" name="submit"><i class="fas fa-search"></i></button>
          </div>
        </div>
        <div class="sidebar-box">
          <div class="sidebar-title">
            <h2>Categories</h2>
          </div>
          <div class="dreamit-section-bar mb-20"></div>
          <div class="sidebar-category">
            <ul>
              <li><a href="business-visa.html">Business Visa</a></li>
              <li><a href="immigration-visa.html">Immigration Visa</a></li>
              <li><a href="pr-visa.html">PR Visa</a></li>
              <li><a href="student-visa.html">Student Visa</a></li>
              <li><a href="working-visa">Working Visa</a></li>
            </ul>
          </div>
        </div>
        <div class="celender-box">
          <div class="widget-items mb-40">
            <div class="calender-area">
              <div class="widget-title">
                <h2>Calender</h2>
                <div class="dreamit-section-bar mb-20"></div>
                <span></span>
              </div>
              <div class="tag-item">
                <div class="curr-month"><b>january</b></div>
                <div class="all-days">
                  <ul>
                    <li>S</li>
                    <li>M</li>
                    <li>T</li>
                    <li>W</li>
                    <li>T</li>
                    <li>F</li>
                    <li>S</li>
                  </ul>
                </div>
                <div class="all-date">
                  <ul>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar-box">
          <div class="sidebar-title">
            <h2>Tag cloud</h2>
          </div>
          <div class="dreamit-section-bar mb-20"></div>
          <div class="sidebar-cloud">
            <a href="bootstrap.html">Bootstarap</a>
            <a href="business.html">Business</a>
            <a href="corporatr.html">corporatr</a>
            <a href="Portfolio-visapro.html">Portfolio</a>
            <a href="responsive.html">Responsive</a>
            <a href="Technology.html">Technology</a>
          </div>
        </div>
        <div class="sidebar-box">
          <div class="sidebar-title">
            <h2>archives</h2>
          </div>
          <div class="dreamit-section-bar mb-20"></div>
          <div class="sidebar-archives">
            <ul>
              <li><a href="#">March 2021</a></li>
              <li><a href="#">April 2021</a></li>
              <li><a href="#">May 2021</a></li>
              <li><a href="#">June 2021</a></li>
            </ul>
          </div>
        </div>
        <div class="sidebar-box">
          <div class="sidebar-title">
            <h2>meta</h2>
          </div>
          <div class="dreamit-section-bar mb-20"></div>
          <div class="sidebar-meta">
            <ul>
              <li><a href="#">Log in</a></li>
              <li><a href="#">Entries feed</a></li>
              <li><a href="#">Comments feed</a></li>
              <li><a href="#">WordPress.org</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
